a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #C6D200;
  border-color: #C6D200;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #004C89;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
}

.bgColor {
    background-color: #228BE6;
}

.container {
  min-height: 100%;
}

.labelFont {
  font-size: 18px;
  font-weight: bold;
}
.defaultFont {
  color: #004C89;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 70%;
 
 }
.loginFont{
  font-size:30px;
  color:#004C89;
}
.inputFields{
  background-color: #d6d4d4;
  border-color: #d6d4d4;
  border-radius: 25px;
  width: 50%;
  height: 50px;
}